.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.bg div{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('../../Image/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: animate 60s linear infinite;
}

@keyframes animate {
0% {
    transform: scale(1) rotate(0deg);
}
50% {
    transform: scale(1.1) rotate(2deg);
}
60% {
    transform: scale(1.1) rotate(3deg);
}
0% {
    transform: scale(1) rotate(0deg);
}
}