.btn {
    background-color: #7AFAC0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    color: aliceblue;
    background-color: #010B28;
    transform: translateY(-7px);
    transition: background-color, transform 0.5s;
}